{
  "printWidth": 100,
  "quoteProps": "as-needed",
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": false,
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "tabWidth": 4,
        "proseWrap": "preserve"
      }
    }
  ]
}